In [3]:
import pandas as pd
import numpy as np

In [4]:
df1_original = pd.read_csv("data/raw/Dataset_SCO_KVM_MONS_GRC_IZD_DMA_MTK_20250805.csv")
df2_original = pd.read_csv("data/raw/Etagi_secondary_classified_dataset_20250805.csv")
df3_original = pd.read_csv("data/raw/Etagi_secondary_dataset_20250805.csv")
df4_original = pd.read_parquet("data/raw/msk_united_geo_market_deals.parquet")

/tmp/ipykernel_12190/483200175.py:1: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  df1_original = pd.read_csv("data/raw/Dataset_SCO_KVM_MONS_GRC_IZD_DMA_MTK_20250805.csv")
/tmp/ipykernel_12190/483200175.py:3: DtypeWarning: Columns (3,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df3_original = pd.read_csv("data/raw/Etagi_secondary_dataset_20250805.csv")

In [5]:
df1 = df1_original.copy()
df2 = df2_original.copy()
df3 = df3_original.copy()
df4 = df4_original.copy()

In [6]:
print(f"df1: {df1.shape[0]} x {df1.shape[1]}")
print(f"df2: {df2.shape[0]} x {df2.shape[1]}")
print(f"df3: {df3.shape[0]} x {df3.shape[1]}")
print(f"df4: {df4.shape[0]} x {df4.shape[1]}")

df1: 13352 x 181
df2: 247175 x 32
df3: 73266 x 30
df4: 1849260 x 63

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
df1.head()

,Объект,Помещение,ID помещения,Вид помещения,Уникальное,"SFA, м2","SFA Ж, м2","SFA ЛП, м2",Секция,Модельное,Этаж,Максимальное кол-во этажей в этой секциии,Тип этажа,Номер на площадке,Кол-во комнат для продажи,Размерность,Площадь балконов,Площадь тамбуров,Площадь лоджий (теплых),Площадь лоджий (холодных),Площадь террас,Количество балконов,Количество тамбуров,Количество лоджий (теплых),Количество лоджий (холодных),Количество террас,Площадь цоколь,"Площадь коридора, кв.м.",Доля коридора в жилой площади (%),k типологии,k размерности,k этажности,k продуктовых характеристик (сумма),Итоговый коэффициент цены,"за жилую площадь, без цоколя руб./кв.м.","за балкон, руб./кв.м.","за теплую лоджию, руб./кв.м.","за холодную лоджию, руб./кв.м.","за террасу, руб./кв.м.","за цоколь, руб./кв.м.","Базовая цена, руб./кв.м","Продуктовая цена, руб./кв.м","Продукт.стоимость, руб.","Скидка, руб.","Продукт + %, руб.","Стартовая стоимость, руб.","Стартовая стоимость без скидки, руб.","Стартовая стоимость со скидкой, руб.","Изменение, руб.",Причина изменения,"Макс стоимость, руб.",Типовой,Ниже уровня земли,Первый,Последний этаж,Вид во двор,Вид на природный объект,Вид на уникальный объект (негативная оценка),Без летнего помещения,Балкон,Лоджия (теплая),Лоджия (холодная),Французский балкон,Терраса (на кровле),Терраса на земле,Одноуровневая,Многоуровневая,Наличие антресоли,С цокольным этажом,Летняя кухня на крыше,На одну сторону,На две противоположные стороны,На две смежные стороны (угловая),На три стороны,На все стороны,Мастер-спальня,Разнесенные спальни,Второй свет,Отдельный вход,Пентхаус,Свободная планировка,Наличие подиума/занижения,Доля коридора в жилой площади более 15%,Эркер,Высота потолков 3 и более метра,Стандартные окна,Окна в пол,Панорамные окна,Зенитное окно,Окно в санузле,Окно в коридоре,Отдельная кухня,Дополнительный санузел,Постирочная,Гардеробная,Гардероб в спальне,Бытовая комната,Рабочий кабинет,Дополнительный балкон,Дополнительная лоджия,Дополнительная холодная лоджия,Дополнительная терраса,Дополнительная терраса на земле,Городская улица,Районная улица,Местная улица,Междомовой проезд,Прямой подъезд,Через проезд-дублер,Без возможности подъезда,Основные пути движения пешеходов/общ. пространство,Местная улица.1,Междомовой проезд.1,Малое общественное пространство,20-30 м2,30-50м2,50-100м2,100-150м2,150-250м2,более 250м2,Одноуровневое на 1 этаже,Одноуровневое на 2 этаже,Одноуровневое на -1 этаже,Многоуровневое /-1 этаж до 30% от S 1 этажа,Многоуровневое /-1 этаж более 30% от S 1 этажа,Многоуровневое / 2 этаж до 50% от S 1 этажа,Многоуровневое / 2 этаж более 50% от S 1 этажа,С перепадом по полу,С антресолью,Отдельный вход.1,Через общий МОП,На одну сторону.1,На две противоположные стороны.1,На две или более смежные стороны,Панарамное,Как в квартирах,Со световым приямком,С наличием фрамуги,Без доступа естественного света,менее 3м,3-4м,4-6м,более 6м,"3,45м",более 5м,Офис / услуги,Магазин,Общепит,Супермаркет,Транзитные вертикальные коммуникации в помещении,Наличие рольставни,Зависимое ММ,ММ у пилона в начале или в конце,ММ у пилона в середине,Отдельностоящее ММ,Расположение у стены,Наличие бокса,Наличие кладовой,Статус продажи на 05/08/2025,Статус ассортимента на 05/08/2025,Текущая прайсовая стоимость,Вид из окон,Код планировки,BIM идентификатор CRM,CHECK,Клиент,Форма оплаты,Канал продажи,Дата последней брони,Дата договора,Дата регистрации,Стоимость,"Скидка с учетом наценки, руб.","Скидка, %",Наценка,Сумма договора,Выручка,Субсидирование,Сумма договора по МСФО,Стоимость помещения с учетом скидки,Дата первого появления на полке
0,Квартал Метроном 01,КВМ-КВМ01-1-1.4.4,0022cf30-c009-4968-bb76-c289cb7906b3,Квартира,Нет,27.8,26.2,1.6,1,Нет,4,31,NaN,4,0C,M,0.0,0.0,0.0,1.6,0.0,0,0,0,1,0,0,5.3,20.229,17.0,10.0667,3,1.0,0,0,0,0,0,0,0,"267,000.00","347,401.00","9,657,739.00","508,303.00","10,166,042.00","10,170,000.00","9,525,646","10,170,000",3958,NaN,12900000,0,-,-,-,-,-,-,-,-,-,0.01,-,-,-,0,-,-,-,-,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,Зарегистрировано,На полке,"10,540,000",На одну сторону,0С-27-8192,0022cf30-c009-4968-bb76-c289cb7906b3,True,Масаева Зарема Вахаевна,И,Агентский,12.08.2024,14.08.2024,16.08.2024,10170000,0,0,0,10170000,10170000,0,10170000,10170000,7/2/2024
1,Квартал Метроном 01,КВМ-КВМ01-7-7.4.9,002add59-2e03-4388-8f48-41dcf1e87656,Квартира,Нет,42.3,41.3,1.0,7,Нет,4,24,NaN,9,1C,S,1.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,5.5,13.317,2.0,5.2200,3,3.0,0,0,0,0,0,0,0,"267,000.00","298,977.00","12,646,709.00","665,617.00","13,312,326.00","13,210,000.00","12,366,225","13,210,000",-102326,NaN,16750000,0,-,-,-,0.02,-,-,-,0.01,-,-,-,-,-,0,-,-,-,-,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,Зарегистрировано,На полке,"14,370,000",На одну сторону,1С-42-4096,002add59-2e03-4388-8f48-41dcf1e87656,True,Галызина Ирина Алексеевна,Р,Агентский,25.07.2024,26.07.2024,31.07.2024,13870500,0,0,0,13870500,13870500,0,13870500,13870500,7/11/2024
2,Квартал Метроном 01,КВМ-КВМ01-7-7.23.7,007d487b-bb24-4add-8411-5024a47f2054,Квартира,Нет,59.5,57.5,2.0,7,Нет,23,24,NaN,7,2C,S,2.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,8.6,14.957,-5.0,7.5000,10,6.0,0,0,0,0,0,0,0,"267,000.00","310,457.00","18,472,175.00","972,220.00","19,444,395.00","19,450,000.00","18,217,558","19,450,000",5605,NaN,24660000,0,-,-,-,0.02,-,-,-,-,-,-,0.01,-,-,0,-,-,-,-,-,-,0.02,-,-,-,-,-,-,-,-,-,-,-,-,0,-,-,-,-,-,-,0,-,0.01,-,-,-,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,Зарегистрировано,На полке,"20,980,000",На две смежные стороны,2С-57-147720,007d487b-bb24-4add-8411-5024a47f2054,True,"Батаев Руслан Александрович,Ерохина Юлия Алекс...",И,Агентский,17.12.2024,18.12.2024,25.12.2024,20980000,0,0,0,20980000,19020677.8,1959322.2,22939322.2,20980000,9/18/2024
3,Квартал Метроном 01,КВМ-КВМ01п-9-9.-1.63,0091c5cc-a728-4d26-a1ed-bbcbb5e03905,Паркинг,Нет,14.0,14.0,0.0,9,Нет,-1,-1,Подземный этаж,63,NaN,M,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0.000,-12.5,0.0000,0,0.0,0,0,0,0,0,0,0,"267,000.00","233,625.00","3,270,750.00",-,"3,270,750.00","3,270,750.00","3,270,750","3,270,750",0,NaN,3880000,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,Зарегистрировано,На полке,"3,280,000",0,0,0091c5cc-a728-4d26-a1ed-bbcbb5e03905,True,Тарасова Ольга Владимировна,Р,Агентский,17.10.2024,21.10.2024,31.10.2024,3280000,0,0,0,3280000,3280000,0,3280000,3280000,10/3/2024
4,Квартал Метроном 01,КВМ-КВМ01-1-1.19.5,009dd894-7ee9-443c-965f-99c81e8b5ed1,Квартира,Нет,57.6,57.6,0.0,1,Нет,19,31,NaN,5,2C,S,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,9.7,16.840,-5.0,7.4000,9,2.0,0,0,0,0,0,0,0,"267,000.00","302,877.00","17,445,697.00","918,195.00","18,363,892.00","18,370,000.00","17,206,043","18,370,000",6108,NaN,23290000,0,-,-,-,0.02,-,-,-0.02,-,-,-,-,-,-,0,-,-,-,-,-,-,0.02,-,-,-,-,-,-,-,-,-,-,-,-,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,Свободно,Предпродажная подготовка,"23,150,000",На две смежные стороны,2С-57-8,009dd894-7ee9-443c-965f-99c81e8b5ed1,True,,,,,,,,,,,,,,,,

In [9]:
df2.head()

,object_id,snapshot_date,url,parent_id,collection_date,actualized_at,published_at,complex,region,city,city_id,microdistrict,address,sub_locality,price,min_price,max_price,median_price,price_per_square_meter,currency,area,floor,floor_count,room_count,balcony,wall_type,flat_type,ceiling_height,condition,duplicates_price,duplicates_url,housing_class
0,8238fca6-1964-4738-9b68-e5b7fead5eac,6/20/2025,https://avito.ru/likino-dulevo/kvartiry/2-k._k...,5e7a2e2e-1d04-425a-acfb-55af74e58b0b,6/9/2025 22:00,6/9/2025 23:02,5/13/2025 18:07,NaN,Москва,Москва,0ed51686-a2f7-4410-b5f6-380112cdb565,NaN,"Коммунистическая, д. 26",Видное,3500000,3500000,3500000,3500000,78299.8,RUB,44.7,2.0,5.0,2.0,NaN,NaN,FLAT,NaN,NaN,{3500000},{https://avito.ru/likino-dulevo/kvartiry/2-k._...,NaN
1,82399cc1-d58a-47fc-9b1c-4a4af85938e4,6/20/2025,https://avito.ru/odintsovo/kvartiry/kvartira-s...,82399cc1-d58a-47fc-9b1c-4a4af85938e4,5/9/2025 22:00,5/21/2025 8:09,2/4/2025 18:34,NaN,Москва,Москва,0ed51686-a2f7-4410-b5f6-380112cdb565,Одинцово-1,"Рябиновая, д. 3, к. 1",Видное,6100000,6100000,6100000,6100000,312820.5,RUB,19.5,1.0,15.0,0.0,NaN,NaN,STUDIO,NaN,NaN,NaN,NaN,NaN
2,823a1cd2-175d-414c-84f8-ff7a55092a02,6/20/2025,https://cian.ru/sale/flat/316800461/,823a1cd2-175d-414c-84f8-ff7a55092a02,5/9/2025 22:00,5/6/2025 7:13,4/25/2025 21:31,NaN,Москва,Москва,0ed51686-a2f7-4410-b5f6-380112cdb565,Очаково-Матвеевское,"Большая Очаковская, д. 3",NaN,26000000,26000000,26000000,26000000,423452.8,RUB,61.4,18.0,24.0,2.0,NaN,NaN,FLAT,NaN,NaN,NaN,NaN,NaN
3,823acc03-e060-45d5-afa3-fe0cf7820457,6/20/2025,https://avito.ru/zvenigorod/kvartiry/2-k._kvar...,823acc03-e060-45d5-afa3-fe0cf7820457,5/9/2025 22:00,5/21/2025 7:36,1/8/2025 16:49,NaN,Москва,Москва,0ed51686-a2f7-4410-b5f6-380112cdb565,NaN,"квартал Введенское, д. 1Б",Видное,6711000,6711000,6711000,6711000,156069.8,RUB,43.0,8.0,9.0,2.0,NaN,NaN,FLAT,NaN,NaN,NaN,NaN,NaN
4,823b1690-1c20-46ec-8874-3d10758f9d01,6/20/2025,https://avito.ru/ruza/kvartiry/2-k._kvartira_4...,5152aef6-8ec9-4284-92d0-cb10b891bb76,6/9/2025 22:00,6/10/2025 9:56,2/11/2025 10:47,NaN,Москва,Москва,0ed51686-a2f7-4410-b5f6-380112cdb565,Строящийся жилой комплекс «Белая Дача парк» (П...,д. 14,Видное,3500000,3500000,3750000,3625000,79545.5,RUB,44.0,2.0,5.0,2.0,NaN,NaN,FLAT,NaN,NaN,{3750000},{https://avito.ru/kotelniki/kvartiry/2-k._kvar...,NaN

In [10]:
df3.head()

,snapshot_date,area,build_year,building,ceiling_height,source_city_id,city_name,created_at,district_name,flat_type,floor,floor_count,house_character,house_number,condition,newcomplex_id,newcomplex_name,newhouse_id,object_class,object_id,object_series,object_type,in_border_city,price,price_per_square_meter,report_date,room_count,street_name,wall_type,city_id
0,4/15/2025,58.3,1971.0,NaN,2.5,155,Москва,10/31/2023 6:47,NaN,Обычная планировка,2.0,9.0,NaN,11к4,Современный ремонт,NaN,NaN,54076.0,Стандарт,512567,II-49,Квартира,False,15499000.0,265849.1,NaN,3.0,улица Красного Маяка,Панельные,0ed51686-a2f7-4410-b5f6-380112cdb565
1,4/15/2025,98.0,1957.0,NaN,3.0,155,Москва,6/21/2021 8:35,NaN,Кухня-гостиная,2.0,4.0,NaN,9к2,Современный ремонт,NaN,NaN,93605.0,Стандарт,526607,Инд,Квартира,True,29800000.0,304081.6,NaN,4.0,Нагорная улица,Кирпичные,0ed51686-a2f7-4410-b5f6-380112cdb565
2,4/15/2025,167.5,2008.0,NaN,3.0,155,Москва,11/17/2020 11:01,NaN,Кухня-гостиная,9.0,31.0,NaN,1к3,Ремонт по дизайн проекту,NaN,NaN,85471.0,Стандарт,528566,Инд,Квартира,True,87000000.0,519403.0,NaN,3.0,Нежинская улица,Монолитные,0ed51686-a2f7-4410-b5f6-380112cdb565
3,4/15/2025,32.4,2022.0,NaN,3.0,155,Москва,2/22/2022 9:57,NaN,Обычная планировка,4.0,39.0,NaN,120к1,Черновая отделка,4618.0,Крылья,103354.0,Стандарт,535261,Инд,Квартира,True,15190000.0,468249.1,NaN,1.0,улица Лобачевского,Монолитные,0ed51686-a2f7-4410-b5f6-380112cdb565
4,4/15/2025,36.8,2024.0,NaN,2.9,155,Москва,1/15/2024 8:49,NaN,Кухня-гостиная,11.0,31.0,NaN,75/77,Черновая отделка,9552.0,Kinetik (Кинетик),99808.0,Комфорт,535627,Инд,Квартира,True,15600000.0,423913.0,NaN,2.0,Дмитровское шоссе,Монолитные,0ed51686-a2f7-4410-b5f6-380112cdb565

In [11]:
df4.head()

,ID проекта,ID корпуса,Проект,Локация,Город,Округ,Район,Адрес корпуса,Класс,Конструктив здания,Девелопер,Застройщик,Стадия строительной готовности на дату договора,Старт продаж,Заявленный срок ввода в эксплуатацию,Дата договора,Месяц и год даты договора,Квартал и год договора,Год договора,Дата регистрации,Месяц и год даты регистрации,Квартал и год регистрации,Год регистрации,Тип сделки,ID лота,Тип объекта,Секция,Этаж,Количество комнат,"Количество комнат в прайс-листе, типология bnmap.pro",Универсальная комнатность,Номер объекта в составе ЕГРН,Номер объекта в ПД,Площадь согласно ЕГРН,Площадь согласно ПД,Цена за кв. метр,Метод определения цены,Расчетный бюджет объекта,Включение скидок/акций в ценообразование,Скидки по дате договора,Отделка по корпусу,Цена отделки,Тип продавца,Тип покупателя,Кол-во покупателей,Код покупателя,Тип ипотеки,Залогодержатель/Банк,Кол-во месяцев обременения,Участие объекта в оптовой сделке,Дата первого появления в экспозиции,"Срок в экспозиции до момента сделки, дней",Цена 1 кв.м первого появления в экспозиции,Бюджет покупки первого появления в экспозиции,Рост цены за 1 кв.м за период экспонирования,Рост бюджета покупки за период экспонирования,Дата актуальности данных,История участия объекта в сделках (ПДн),Дата регистрации материнской сделки,Дата договора материнской сделки,Количество повторных сделок,latitude,longitude
0,c4a6b151c46627e290df68992b9075df,dc28129c73e5fa4939497d84ccf90edd,Versis,Москва,Москва,ЮЗАО,Ломоносовский,"Нахимовский пр-т, д. 73",Бизнес,Монолит-блоки,Пересвет-Инвест,Пересвет-Инвест,На дату договора активности по проекту не фикс...,2010-03-01,NaT,2009-05-25,5.2009,2кв. 2009,2009,2009-07-10,7.2009,3кв. 2009,2009,Договор участия,d421bcdcc9a35c5b13b71c2d0be49145,квартира,None,11,3,3,3,199,199,137.6,137.6,NaN,Первая публичная цена старше 2х месяцев,NaN,None,None,None,None,ЮЛ,ЮЛ,1,"Общество с ограниченной ответственностью ""Пере...",Ипотека,ПАО Банк ВТБ,NaN,ДА,NaT,н/д,н/д,н/д,н/д,н/д,2018-04-28,2009-05-25 Договор участия Общество с ограниче...,2009-07-10,2009-05-25,0,55.682021,37.552112
1,c4a6b151c46627e290df68992b9075df,dc28129c73e5fa4939497d84ccf90edd,Versis,Москва,Москва,ЮЗАО,Ломоносовский,"Нахимовский пр-т, д. 73",Бизнес,Монолит-блоки,Пересвет-Инвест,Пересвет-Инвест,На дату договора активности по проекту не фикс...,2010-03-01,NaT,2009-05-25,5.2009,2кв. 2009,2009,2009-07-10,7.2009,3кв. 2009,2009,Договор участия,64f1dc40c70d0c1d62bc7dcea1125435,квартира,None,12,3,3,3,126,126,117.0,117.0,NaN,Первая публичная цена старше 2х месяцев,NaN,None,None,None,None,ЮЛ,ЮЛ,1,"Общество с ограниченной ответственностью ""Пере...",Ипотека,ПАО Банк ВТБ,NaN,ДА,NaT,н/д,н/д,н/д,н/д,н/д,2018-04-28,2009-05-25 Договор участия Общество с ограниче...,2009-07-10,2009-05-25,0,55.682021,37.552112
2,c4a6b151c46627e290df68992b9075df,dc28129c73e5fa4939497d84ccf90edd,Versis,Москва,Москва,ЮЗАО,Ломоносовский,"Нахимовский пр-т, д. 73",Бизнес,Монолит-блоки,Пересвет-Инвест,Пересвет-Инвест,На дату договора активности по проекту не фикс...,2010-03-01,NaT,2009-05-25,5.2009,2кв. 2009,2009,2009-07-10,7.2009,3кв. 2009,2009,Договор участия,4b79afeef09e0879df08399ad68c2bfc,квартира,None,13,2,2,2,42,42,72.1,72.1,NaN,Первая публичная цена старше 2х месяцев,NaN,None,None,None,None,ЮЛ,ЮЛ,1,"Общество с ограниченной ответственностью ""Пере...",Ипотека,ПАО Банк ВТБ,NaN,ДА,NaT,н/д,н/д,н/д,н/д,н/д,2018-04-28,2009-05-25 Договор участия Общество с ограниче...,2009-07-10,2009-05-25,0,55.682021,37.552112
3,c4a6b151c46627e290df68992b9075df,dc28129c73e5fa4939497d84ccf90edd,Versis,Москва,Москва,ЮЗАО,Ломоносовский,"Нахимовский пр-т, д. 73",Бизнес,Монолит-блоки,Пересвет-Инвест,Пересвет-Инвест,На дату договора активности по проекту не фикс...,2010-03-01,NaT,2009-05-25,5.2009,2кв. 2009,2009,2009-07-10,7.2009,3кв. 2009,2009,Договор участия,5e811d46007c8b2b74f7ba67f1ee3486,квартира,None,16,2,2,2,137,137,93.4,93.4,NaN,Первая публичная цена старше 2х месяцев,NaN,None,None,None,None,ЮЛ,ФЛ,1,705f57f5f74a8e73ed84beb17f3fa0,Нет,None,NaN,ДА,NaT,н/д,н/д,н/д,н/д,н/д,2018-07-02,2009-05-25 Договор участия 705f57f5f74a8e73ed8...,2009-07-10,2009-05-25,0,55.682021,37.552112
4,c4a6b151c46627e290df68992b9075df,dc28129c73e5fa4939497d84ccf90edd,Versis,Москва,Москва,ЮЗАО,Ломоносовский,"Нахимовский пр-т, д. 73",Бизнес,Монолит-блоки,Пересвет-Инвест,Пересвет-Инвест,На дату договора активности по проекту не фикс...,2010-03-01,NaT,2009-05-25,5.2009,2кв. 2009,2009,2009-07-10,7.2009,3кв. 2009,2009,Договор участия,62212c94d665bf3c7916d435c9fa7aea,квартира,None,13,1,None,1,40,40,57.4,57.4,NaN,Первая публичная цена старше 2х месяцев,NaN,None,None,None,None,ЮЛ,ФЛ,2,208ee9926307b698be38eb40b801b9,Нет,None,NaN,ДА,NaT,н/д,н/д,н/д,н/д,н/д,2018-07-02,2009-05-25 Договор участия d85709fb7ea18dc03c6...,2009-07-10,2009-05-25,0,55.682021,37.552112

In [12]:
CANONICAL_COLUMNS = [
    "address",
    "latitude",
    "longitude",

    "area",
    "room_count",
    "floor",
    "floor_count",

    "housing_type",
    "flat_type",
    "wall_type",
    "ceiling_height",
    "build_year",
    "balcony",

    "price",
    "price_per_square_meter",

    "date",
]

In [13]:
DF1_ADAPTER = {
    "address": pd.NA,
    "longitude": np.nan,
    "latitude": np.nan,
    "area": lambda df: pd.to_numeric(df["SFA, м2"], errors="coerce"),
    "room_count": pd.NA,
    "floor": lambda df: pd.to_numeric(df["Этаж"], errors="coerce"),
    "floor_count": lambda df: pd.to_numeric(df["Максимальное кол-во этажей в этой секциии"], errors="coerce"),
    "market_type": lambda df: "secondary",
    "housing_type": pd.NA,
    "flat_type": "Вид помещения",
    "ceiling_height": np.nan,
    "build_year": np.nan,
    "balcony": "Количество балконов",
    "price": lambda df: pd.to_numeric(df["Стоимость"], errors="coerce"),
    "price_per_square_meter": lambda df: pd.to_numeric(df["Стоимость"], errors="coerce")
    / pd.to_numeric(df["SFA, м2"], errors="coerce"),
    "date": "Дата последней брони",
}

DF2_ADAPTER = {
    "address": "address",
    "longitude": np.nan,
    "latitude": np.nan,
    "area": lambda df: pd.to_numeric(df["area"], errors="coerce"),
    "room_count": lambda df: pd.to_numeric(df["room_count"], errors="coerce"),
    "floor": lambda df: pd.to_numeric(df["floor"], errors="coerce"),
    "floor_count": lambda df: pd.to_numeric(df["floor_count"], errors="coerce"),
    "market_type": lambda df: "secondary",
    "housing_type": pd.NA,
    "flat_type": "flat_type",
    "ceiling_height": lambda df: pd.to_numeric(df["ceiling_height"], errors="coerce"),
    "build_year": "build_year",
    "balcony": "balcony",
    "price": lambda df: pd.to_numeric(df["price"], errors="coerce"),
    "price_per_square_meter": lambda df: pd.to_numeric(df["price_per_square_meter"], errors="coerce"),
    "date": "actualized_at",
}

DF3_ADAPTER = {
    "address": lambda df: (
        df["street_name"].astype(str) + ", " + df["house_number"].astype(str)
    ),
    "longitude": np.nan,
    "latitude": np.nan,
    "area": "area",
    "room_count": lambda df: pd.to_numeric(df["room_count"], errors="coerce"),
    "floor": lambda df: pd.to_numeric(df["floor"], errors="coerce"),
    "floor_count": lambda df: pd.to_numeric(df["floor_count"], errors="coerce"),
    "market_type": lambda df: "secondary",
    "housing_type": pd.NA,
    "flat_type": "flat_type",
    "ceiling_height": lambda df: pd.to_numeric(df["ceiling_height"], errors="coerce"),
    "build_year": "build_year",
    "balcony": pd.NA,
    "price": lambda df: pd.to_numeric(df["price"], errors="coerce"),
    "price_per_square_meter": lambda df: pd.to_numeric(df["price_per_square_meter"], errors="coerce"),
    "date": "created_at",
}

DF4_ADAPTER = {
    "address": "Адрес корпуса",
    "longitude": lambda df: pd.to_numeric(df["longitude"], errors="coerce"),
    "latitude": lambda df: pd.to_numeric(df["latitude"], errors="coerce"),
    "area": lambda df: pd.to_numeric(df["Площадь согласно ЕГРН"], errors="coerce"),
    "room_count": lambda df: pd.to_numeric(df["Количество комнат"], errors="coerce"),
    "floor": lambda df: pd.to_numeric(df["Этаж"], errors="coerce"),
    "floor_count": np.nan,
    "market_type": lambda df: "primary",
    "housing_type": pd.NA,
    "flat_type": "Тип объекта",
    "ceiling_height": np.nan,
    "build_year": lambda df: pd.to_datetime(df["Дата договора"], errors="coerce").dt.year,
    "balcony": pd.NA,
    "price": lambda df: pd.to_numeric(df["Площадь согласно ЕГРН"], errors="coerce")
    * pd.to_numeric(df["Цена за кв. метр"], errors="coerce"),
    "price_per_square_meter": lambda df: pd.to_numeric(df["Цена за кв. метр"], errors="coerce"),
    "date": "Дата договора",
}

In [14]:
def adapt_dataframe(df, adapter):
    adapted = pd.DataFrame()
    
    for canonical_col, source in adapter.items():
        if isinstance(source, str):
            adapted[canonical_col] = df[source] if source in df.columns else pd.NA
        elif callable(source):
            adapted[canonical_col] = source(df)
        else:
            adapted[canonical_col] = source
    
    return adapted

In [15]:
df1_adapted = adapt_dataframe(df1, DF1_ADAPTER)
df2_adapted = adapt_dataframe(df2, DF2_ADAPTER)
df3_adapted = adapt_dataframe(df3, DF3_ADAPTER)
df4_adapted = adapt_dataframe(df4, DF4_ADAPTER)

In [16]:
df1_adapted.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,NaN,NaN,NaN,27.8,<NA>,4,31,secondary,<NA>,Квартира,NaN,NaN,0,10170000.0,365827.338129,12.08.2024
1,NaN,NaN,NaN,42.3,<NA>,4,24,secondary,<NA>,Квартира,NaN,NaN,1,13870500.0,327907.801418,25.07.2024
2,NaN,NaN,NaN,59.5,<NA>,23,24,secondary,<NA>,Квартира,NaN,NaN,1,20980000.0,352605.042017,17.12.2024
3,NaN,NaN,NaN,14.0,<NA>,-1,-1,secondary,<NA>,Паркинг,NaN,NaN,0,3280000.0,234285.714286,17.10.2024
4,NaN,NaN,NaN,57.6,<NA>,19,31,secondary,<NA>,Квартира,NaN,NaN,0,NaN,NaN,

In [17]:
df2_adapted.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,"Коммунистическая, д. 26",NaN,NaN,44.7,2.0,2.0,5.0,secondary,<NA>,FLAT,NaN,<NA>,NaN,3500000,78299.8,6/9/2025 23:02
1,"Рябиновая, д. 3, к. 1",NaN,NaN,19.5,0.0,1.0,15.0,secondary,<NA>,STUDIO,NaN,<NA>,NaN,6100000,312820.5,5/21/2025 8:09
2,"Большая Очаковская, д. 3",NaN,NaN,61.4,2.0,18.0,24.0,secondary,<NA>,FLAT,NaN,<NA>,NaN,26000000,423452.8,5/6/2025 7:13
3,"квартал Введенское, д. 1Б",NaN,NaN,43.0,2.0,8.0,9.0,secondary,<NA>,FLAT,NaN,<NA>,NaN,6711000,156069.8,5/21/2025 7:36
4,д. 14,NaN,NaN,44.0,2.0,2.0,5.0,secondary,<NA>,FLAT,NaN,<NA>,NaN,3500000,79545.5,6/10/2025 9:56

In [18]:
df3_adapted.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,"улица Красного Маяка, 11к4",NaN,NaN,58.3,3.0,2.0,9.0,secondary,<NA>,Обычная планировка,2.5,1971.0,<NA>,15499000.0,265849.1,10/31/2023 6:47
1,"Нагорная улица, 9к2",NaN,NaN,98.0,4.0,2.0,4.0,secondary,<NA>,Кухня-гостиная,3.0,1957.0,<NA>,29800000.0,304081.6,6/21/2021 8:35
2,"Нежинская улица, 1к3",NaN,NaN,167.5,3.0,9.0,31.0,secondary,<NA>,Кухня-гостиная,3.0,2008.0,<NA>,87000000.0,519403.0,11/17/2020 11:01
3,"улица Лобачевского, 120к1",NaN,NaN,32.4,1.0,4.0,39.0,secondary,<NA>,Обычная планировка,3.0,2022.0,<NA>,15190000.0,468249.1,2/22/2022 9:57
4,"Дмитровское шоссе, 75/77",NaN,NaN,36.8,2.0,11.0,31.0,secondary,<NA>,Кухня-гостиная,2.9,2024.0,<NA>,15600000.0,423913.0,1/15/2024 8:49

In [19]:
df4_adapted.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,"Нахимовский пр-т, д. 73",37.552112,55.682021,137.6,3.0,11.0,NaN,primary,<NA>,квартира,NaN,2009,<NA>,NaN,NaN,2009-05-25
1,"Нахимовский пр-т, д. 73",37.552112,55.682021,117.0,3.0,12.0,NaN,primary,<NA>,квартира,NaN,2009,<NA>,NaN,NaN,2009-05-25
2,"Нахимовский пр-т, д. 73",37.552112,55.682021,72.1,2.0,13.0,NaN,primary,<NA>,квартира,NaN,2009,<NA>,NaN,NaN,2009-05-25
3,"Нахимовский пр-т, д. 73",37.552112,55.682021,93.4,2.0,16.0,NaN,primary,<NA>,квартира,NaN,2009,<NA>,NaN,NaN,2009-05-25
4,"Нахимовский пр-т, д. 73",37.552112,55.682021,57.4,1.0,13.0,NaN,primary,<NA>,квартира,NaN,2009,<NA>,NaN,NaN,2009-05-25

In [20]:
FLAT_TYPE_MAP = {
    'Квартира': 'flat',
    'квартира': 'flat',
    'Паркинг': 'parking',
    'машино-место': 'parking',
    'Кладовая': 'storage',
    'кладовка': 'storage',
    'Офис': 'office',
    'нежилое помещение': 'non_residential',
    'апартаменты': 'flat',
    'Без типа': pd.NA,
    'FLAT': 'flat',
    'STUDIO': 'studio',
    'studio': 'studio',
    'Обычная планировка': 'flat',
    'Кухня-гостиная': 'flat',
    'Свободная планировка': 'flat',
    'Мастер-спальня': 'flat',
    'euro': 'flat',
    np.nan: pd.NA,
    'no': pd.NA,
}

def normalize_datasets(dfs):
    def assign_housing_type(flat_type):
        if pd.isna(flat_type):
            return pd.NA
        if flat_type in ['flat', 'studio']:
            return 'residential'
        elif flat_type in ['parking', 'storage', 'office']:
            return 'non_residential'
        return pd.NA

    for df in dfs:
        if 'balcony' in df.columns:
            df['balcony'] = pd.to_numeric(df['balcony'], errors='coerce')
            df['balcony'] = df['balcony'].fillna(0) > 0
        
        if 'flat_type' in df.columns:
            df['flat_type'] = df['flat_type'].map(FLAT_TYPE_MAP)
        
        df['housing_type'] = df['flat_type'].apply(assign_housing_type)
    
    for df in dfs:
        if 'date' in df.columns:
            df['date'] = pd.to_datetime(df['date'], errors='coerce', infer_datetime_format=True)
            df['date'] = df['date'].dt.normalize()    

    for df in dfs:
        df = df.dropna(how='all')
        df = df.drop_duplicates()
    
    return dfs

df1_normalized, df2_normalized, df3_normalized, df4_normalized = normalize_datasets([df1_adapted, df2_adapted, df3_adapted, df4_adapted])

/tmp/ipykernel_12190/3183092592.py:46: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'], errors='coerce', infer_datetime_format=True)
/tmp/ipykernel_12190/3183092592.py:46: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'], errors='coerce', infer_datetime_format=True)
/tmp/ipykernel_12190/3183092592.py:46: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'], errors='coerce', infer_datetime_format=True)
/tmp/ipykernel_12190/3183092592.py:46: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'], errors='coerce', infer_datetime_format=True)

In [21]:
print(f"df1: {df1_normalized.shape[0]} x {df1_normalized.shape[1]}")
print(f"df2: {df2_normalized.shape[0]} x {df2_normalized.shape[1]}")
print(f"df3: {df3_normalized.shape[0]} x {df3_normalized.shape[1]}")
print(f"df3: {df4_normalized.shape[0]} x {df4_normalized.shape[1]}")

df1: 13352 x 16
df2: 247175 x 16
df3: 73266 x 16
df3: 1849260 x 16

In [22]:
df1_normalized.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,NaN,NaN,NaN,27.8,<NA>,4,31,secondary,residential,flat,NaN,NaN,False,10170000.0,365827.338129,2024-12-08
1,NaN,NaN,NaN,42.3,<NA>,4,24,secondary,residential,flat,NaN,NaN,True,13870500.0,327907.801418,NaT
2,NaN,NaN,NaN,59.5,<NA>,23,24,secondary,residential,flat,NaN,NaN,True,20980000.0,352605.042017,NaT
3,NaN,NaN,NaN,14.0,<NA>,-1,-1,secondary,non_residential,parking,NaN,NaN,False,3280000.0,234285.714286,NaT
4,NaN,NaN,NaN,57.6,<NA>,19,31,secondary,residential,flat,NaN,NaN,False,NaN,NaN,NaT

In [23]:
df2_normalized.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,"Коммунистическая, д. 26",NaN,NaN,44.7,2.0,2.0,5.0,secondary,residential,flat,NaN,<NA>,False,3500000,78299.8,2025-06-09
1,"Рябиновая, д. 3, к. 1",NaN,NaN,19.5,0.0,1.0,15.0,secondary,residential,studio,NaN,<NA>,False,6100000,312820.5,2025-05-21
2,"Большая Очаковская, д. 3",NaN,NaN,61.4,2.0,18.0,24.0,secondary,residential,flat,NaN,<NA>,False,26000000,423452.8,2025-05-06
3,"квартал Введенское, д. 1Б",NaN,NaN,43.0,2.0,8.0,9.0,secondary,residential,flat,NaN,<NA>,False,6711000,156069.8,2025-05-21
4,д. 14,NaN,NaN,44.0,2.0,2.0,5.0,secondary,residential,flat,NaN,<NA>,False,3500000,79545.5,2025-06-10

In [24]:
df3_normalized.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,"улица Красного Маяка, 11к4",NaN,NaN,58.3,3.0,2.0,9.0,secondary,residential,flat,2.5,1971.0,False,15499000.0,265849.1,2023-10-31
1,"Нагорная улица, 9к2",NaN,NaN,98.0,4.0,2.0,4.0,secondary,residential,flat,3.0,1957.0,False,29800000.0,304081.6,2021-06-21
2,"Нежинская улица, 1к3",NaN,NaN,167.5,3.0,9.0,31.0,secondary,residential,flat,3.0,2008.0,False,87000000.0,519403.0,2020-11-17
3,"улица Лобачевского, 120к1",NaN,NaN,32.4,1.0,4.0,39.0,secondary,residential,flat,3.0,2022.0,False,15190000.0,468249.1,2022-02-22
4,"Дмитровское шоссе, 75/77",NaN,NaN,36.8,2.0,11.0,31.0,secondary,residential,flat,2.9,2024.0,False,15600000.0,423913.0,2024-01-15

In [25]:
df4_normalized.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,"Нахимовский пр-т, д. 73",37.552112,55.682021,137.6,3.0,11.0,NaN,primary,residential,flat,NaN,2009,False,NaN,NaN,2009-05-25
1,"Нахимовский пр-т, д. 73",37.552112,55.682021,117.0,3.0,12.0,NaN,primary,residential,flat,NaN,2009,False,NaN,NaN,2009-05-25
2,"Нахимовский пр-т, д. 73",37.552112,55.682021,72.1,2.0,13.0,NaN,primary,residential,flat,NaN,2009,False,NaN,NaN,2009-05-25
3,"Нахимовский пр-т, д. 73",37.552112,55.682021,93.4,2.0,16.0,NaN,primary,residential,flat,NaN,2009,False,NaN,NaN,2009-05-25
4,"Нахимовский пр-т, д. 73",37.552112,55.682021,57.4,1.0,13.0,NaN,primary,residential,flat,NaN,2009,False,NaN,NaN,2009-05-25

In [26]:
df_combined = pd.concat([df1_normalized, df2_normalized, df3_normalized, df4_normalized], ignore_index=True)
df_combined = df_combined.drop_duplicates()

/tmp/ipykernel_12190/2890842080.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_combined = pd.concat([df1_normalized, df2_normalized, df3_normalized, df4_normalized], ignore_index=True)

In [27]:
df_combined.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,housing_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,NaN,NaN,NaN,27.8,NaN,4.0,31.0,secondary,residential,flat,NaN,NaN,False,10170000.0,365827.338129,2024-12-08
1,NaN,NaN,NaN,42.3,NaN,4.0,24.0,secondary,residential,flat,NaN,NaN,True,13870500.0,327907.801418,NaT
2,NaN,NaN,NaN,59.5,NaN,23.0,24.0,secondary,residential,flat,NaN,NaN,True,20980000.0,352605.042017,NaT
3,NaN,NaN,NaN,14.0,NaN,-1.0,-1.0,secondary,non_residential,parking,NaN,NaN,False,3280000.0,234285.714286,NaT
4,NaN,NaN,NaN,57.6,NaN,19.0,31.0,secondary,residential,flat,NaN,NaN,False,NaN,NaN,NaT

In [28]:
df_residential = df_combined[df_combined['housing_type'] == 'residential'].drop(columns=["housing_type"])

In [29]:
print(f"df_residential: {df_residential.shape[0]} x {df_residential.shape[1]}")

df_residential: 1644908 x 15

In [30]:
df_residential.head()

,address,longitude,latitude,area,room_count,floor,floor_count,market_type,flat_type,ceiling_height,build_year,balcony,price,price_per_square_meter,date
0,NaN,NaN,NaN,27.8,NaN,4.0,31.0,secondary,flat,NaN,NaN,False,10170000.0,365827.338129,2024-12-08
1,NaN,NaN,NaN,42.3,NaN,4.0,24.0,secondary,flat,NaN,NaN,True,13870500.0,327907.801418,NaT
2,NaN,NaN,NaN,59.5,NaN,23.0,24.0,secondary,flat,NaN,NaN,True,20980000.0,352605.042017,NaT
4,NaN,NaN,NaN,57.6,NaN,19.0,31.0,secondary,flat,NaN,NaN,False,NaN,NaN,NaT
5,NaN,NaN,NaN,58.0,NaN,19.0,31.0,secondary,flat,NaN,NaN,True,18572500.0,320215.517241,NaT

In [31]:
df_residential.to_parquet("data/processed/housing.parquet", index=False)